{
  "domain": "gtmtools.com",
  "sitemap": {
    "active": false,
    "url": "https://www.example.com/sitemap.xml"
  },
  "startUrl": "https://www.gtmtools.com/",
  "projectId": "web-scraper-gcp",
  "skipExternal": true,
  "clearStorage": true,
  "bigQuery": {
    "datasetId": "web_scraper_gcp",
    "tableId": "crawl_results"
  },
  "redis": {
    "active": false,
    "host": "10.0.0.3",
    "port": 6379
  },
  "puppeteerArgs": ["--no-sandbox"],
  "crawlerOptions": {
    "maxConcurrency": 50,
    "skipRequestedRedirect": true
  }
}
